
<div class="flex flex-row h-full bg-[#f0f3fb] -ml-8">
    <app-layouts></app-layouts>
  <div
    [className]="[
      'flex flex-col w-full md:w-full md:h-full h-full py-24 xl:mb-0 mt-12 '
    ]"
  >
    <div
      [className]="[
        'grid grid-flow-row md:grid-cols-3 gap-4 justify-between p-4'
      ]"
    >
      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>

      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
       <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>
      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
       <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>
      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
       <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>
      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
       <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>

      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
       <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>
      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
       <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>
      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
       <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>
      <div
        [className]="[
          'flex flex-col justify-between items-center bg-white md:w-full w-full h-64 rounded-xl shadow-sm '
        ]"
      >
       <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, cumque
          at atque ex culpa error dicta beatae, doloribus voluptatem, impedit
          assumenda nihil repellat. Vero quas, doloremque dicta molestiae
          commodi cumque.
        </div>
        <div
          [className]="[
            'flex flex-col justify-between items-center bg-white px-4 py-1 font-bold mb-2 rounded-full border border-blue-500 cursor-pointer text-blue-500 '
          ]"
        >
          Voir plus
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
