<div [className]="['flex flex-row h-full bg-green-500 -ml-8 w-full']">
  <app-layouts></app-layouts>
  <div
    [className]="[
      'flex flex-col w-full md:w-full md:max-h-full max-h-full py-12 xl:mb-0 bg-blue-50 mt-12'
    ]"
  >
    <div class="flex mx-4">
      <table class=" table bg-white w-full items-center justify-center rounded spy">
        <thead class="">
          <th class="font-bold text-xs">Id</th>
          <th class="font-bold text-xs">Titre</th>
          <th class="font-bold text-xs">Created by</th>
          <th class="font-bold text-xs">Date</th>
          <th class="font-bold text-xs">Diseases</th>
          <th class="font-bold text-xs">Actions</th>
        </thead>
        <tbody>
          <tr class="">
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
          </tr>
          <tr class="">
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
          </tr>
          <tr class="">
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
          </tr>
          <tr class="">
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
            <td class="text-center">sss</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
