<div class="container mx-auto max-w-full max-h-full sm:py-[27.5px] bg-white">
  <!-- style="
    background-image: url('assets/img/multi-ethnic-tea.jpg');
    background-size: cover;
  " -->
  <div
    class="flex flex-col md:flex-row content-center items-center bg-white justify-between h-full mt-18 py-4 sm:mt-4 sm:mx-32 rounded-xl shadow-2xl"
  >
    <div class="hidden md:flex justify-start items-start gap-8">
      <div class="sm:relative w-full h-[513px] mx-4">
        <div
          class="w-[25rem] h-[25rem] left-[54.55px] top-[66.28px] absolute bg-blue-600 rounded-full"
        ></div>
        <div
          class="w-[71.38px] h-[71.38px] left-[0.69px] top-[77.32px] absolute bg-blue-600 rounded-full"
        ></div>
        <img
          class="w-[370.70px] h-auto sm:mx-auto sm:left-20 -mt-1 relative"
          src="assets/img/medium-shot-smiley-doctor-with-coat.png"
          alt="Technology"
        />
        <div
          class="w-[40.88px] h-[40.88px] left-[471.81px] top-[441.36px] absolute bg-blue-600 rounded-full"
        ></div>
      </div>
    </div>
    <!-- Image section -->

    <!-- Login form section -->
    <div
      class="relative flex flex-col min-w-0 break-words w-full md:w-1/2 -mb-3 rounded-lg bg-white justify-center text-center"
    >
      <div class="flex-auto px-4 lg:px-10 py-10 pt-10 h-full mt-10">
        <div class="text-blueGray-400 text-center mx-4 mb-3 font-bold">
          <a [routerLink]="['/']">
            <img
              class="w-[300px] mx-auto mb-5"
              src="assets/img/logo-sante.png"
              alt="Technology"
            />
          </a>
        </div>

        <!-- Buttons Roles -->
        <div class="flex flex-row w-full">
          <div class="flex flex-row w-full justify-center space-x-3">
            <p class="text-blue-600 text-2xl font-bold">Connexion</p>
          </div>
        </div>

        <!-- Form login -->
        <form (ngSubmit)="onSubmit()" class="flex mx-4 md:mx-24 mt-10">
          <div class="flex flex-col w-full space-y-6">
            <!-- Email input -->
            <div class="relative w-full mb-3">
              <input
                type="email"
                [name]="['email']"
                class="border border-blue-500 px-3 py-3 placeholder-gray-500 text-gray-600 bg-white rounded-md text-sm focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="admin@hospital.org"
              />
            </div>

            <!-- Password input -->
            <div class="relative w-full mb-3">
              <input
                type="password"
                [name]="['password']"
                class="border border-blue-500 px-3 py-3 placeholder-gray-500 text-gray-600 bg-white rounded-md text-sm focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="********"
              />
            </div>

            <!-- Remember me & Forgot password -->
            <div class="flex justify-between">
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                />
                <span class="ml-2 text-sm font-light text-blueGray-600"
                  >Remember me</span
                >
              </label>
              <label
                class="inline-flex items-center underline text-sm text-blue-500 cursor-pointer"
              >
                Mot de passe oublié ?
              </label>
            </div>
            <!-- routerLink="/dashboard" -->
            <!-- Submit button -->
            <div class="text-center flex mt-10">
              <button
                (ngSubmit)="onSubmit()"
                class="bg-blue-500 text-white active:bg-blue-300 hover:bg-slate-400 text-sm font-bold uppercase px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="submit"
              >
                Se connecter
              </button>
            </div>
          </div>

          <!-- End Form login -->
        </form>
        <div class="flex">
          <div class="flex w-full justify-center items-center">
            <span class="text-gray-700 text-center text-xs font-light">
              Vous n'avez pas de compte?
            </span>

            <a
              [routerLink]="['/auth/register']"
              class="flex items-center justify-center text-sm font-light text-blue-500 hover:text-blue-600 underline"
            >
              Créer un compte
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
