<div
  class="w-full h-auto bg-[#26335d] flex-col justify-center items-center inline-flex"
>
  <div
    class="self-stretch h-auto px-10 bg-[#26335d] justify-center items-center inline-flex"
  >
    <div
      class="w-full py-[30px] grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5"
    >
      <div class="w-full flex-col justify-start items-start gap-5 inline-flex">
        <div class="text-white text-base font-bold font-['Montserrat']">
          Companie Info
        </div>
        <div class="flex-col justify-start items-start gap-2.5 flex">
          <div class="text-white text-sm font-bold font-['Montserrat']">
            A propos
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Carrier
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Qui sommes-nous ?
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Blog
          </div>
        </div>
      </div>

      <div class="w-full flex-col justify-start items-start gap-5 inline-flex">
        <div class="text-white text-base font-bold font-['Montserrat']">
          Legal
        </div>
        <div class="flex-col justify-start items-start gap-2.5 flex">
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Termes et Service
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Politique
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Information légale
          </div>
        </div>
      </div>

      <div class="w-full flex-col justify-start items-start gap-5 inline-flex">
        <div class="text-white text-base font-bold font-['Montserrat']">
          Features
        </div>
        <div class="flex-col justify-start items-start gap-2.5 flex">
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Business Marketing
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Analyse client
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Live Chat
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Support client
          </div>
        </div>
      </div>

      <div class="w-full flex-col justify-start items-start gap-5 inline-flex">
        <div class="text-white text-base font-bold font-['Montserrat']">
          Resources
        </div>
        <div class="flex-col justify-start items-start gap-2.5 flex">
          <div class="text-white text-sm font-bold font-['Montserrat']">
            IOS & Android
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Watch a Demo
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            Utilisateur
          </div>
          <div class="text-white text-sm font-bold font-['Montserrat']">
            API
          </div>
        </div>
      </div>

      <div class="w-full flex-col justify-start items-start gap-5 inline-flex">
        <div class="text-white text-base font-bold font-['Montserrat']">
          Contacts
        </div>
        <div class="flex-col justify-start items-start gap-2.5 flex">
          <div class="justify-start items-start gap-2.5 inline-flex">
            <div class="h-6 justify-start items-start flex"></div>
            <div class="text-white text-sm font-bold font-['Montserrat']">
              (+225) 00 00 00 00 00
            </div>
          </div>
          <div class="justify-start items-start gap-2.5 inline-flex">
            <div
              class="h-[30px] flex-col justify-start items-start inline-flex"
            ></div>
            <div class="text-white text-sm font-bold font-['Montserrat']">
              4517 Abidjan Cote d'Ivoire
            </div>
          </div>
          <div class="justify-start items-start gap-2.5 inline-flex">
            <div class="h-[26px] justify-start items-start inline-flex"></div>
            <div class="text-white text-sm font-bold font-['Montserrat']">
              santefuture.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex mb-2 w-full justify-center items-center">
    <p class="text-white md:text-md text-sm font-serif text-center">
      copyright Néhémie 2024
    </p>
  </div>
</div>
