<div class="flex flex-row h-screen bg-[#f0f3fb] -ml-0 md:-ml-8">
  <app-layouts></app-layouts>
  <div
    [className]="[
      'flex flex-col w-full md:w-full md:h-full h-full py-24 xl:mb-0 mt-6 '
    ]"
  >
    <div
      [className]="[
        'flex flex-row md:flex-col justify-between p-4 space-y-0 md:space-y-10'
      ]"
    >
      <div
        [className]="[
          'flex flex-col bg-white md:w-full w-full  rounded-xl shadow-sm '
        ]"
      >
        <!-- List doctors -->
        <div
          [className]="[
            'flex flex-col space-y-4 w-full justify-between px-6 py-4'
          ]"
        >
        <div
        [className]="[
          'flex md:flex-row items-center flex-col w-full shadow-lg rounded-lg shadow-gray-200 p-3 space-x-10'
        ]"
      >
        <img
          [className]="['w-32 h-32 rounded-xl shadow-2xl mb-10']"
          src="assets/img/cheerful-ethnic-doctor-with-arms-crossed.jpg"
          alt=""
        />
        <div [className]="['flex flex-col space-y-3 justify-center md:px-10 mb-2']">
          <span [className]="['text-blue-500 text-xl font-bold']"> Dr.Kouakou </span>
          <span [className]="['text-sm']">BDS,MDS</span>
          <p>
           Docteur Kouakou a Approuve votre RDV
          </p>
        </div>
        <div [className]="['flex flex-col justify-between space-y-4 w-full md:w-3/4 px-2 md:px-0']">
          <span [className]="['flex text-sm font-semibold']">Abidjan,Chu de COCODY</span>
          <span [className]="['flex text-sm font-semibold']"> 176 Feedback</span>
          <span [className]="['flex text-sm font-semibold']"> Jeudi -  10:00  - 8:00</span>
        </div>
      </div>

         
    <!-- </div> -->
  </div>
</div>
