@if (isModalOpenDonate) {
<div class="relative z-10" aria-labelledby="modal-title">
  <div
    class="fixed inset-0 bg-gray-500 bg-opacity-50 transition-opacity"
    aria-hidden="true"
  ></div>

  <div class="fixed inset-0 z-10 justify-center w-screen ">
    <div
      class="flex flex-row min-h-full items-end justify-center border border-red-500 p-4 text-center sm:items-center sm:p-0"
    >
        <div
          class="flex flex-row justify-center items-center  border border-red-500 py-12 w-full px-6"
        >
          <div
            class="flex flex-row md:flex-row justify-center items-center w-full md:px-4 px-0"
          >
            <div class="flex justify-center items-center ">
              <div class="w-full">
                <img
                  class="md:w-[200px] mx-auto h-auto sm:mx-auto rounded-md  mt-1"
                  src="assets/img/donate.png"
                  alt="Technology"
                />
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
}
