<div
  class="container mx-auto max-w-full bg-white justify-between flex flex-col h-screen"
>
  <!-- Header -->
  <app-header></app-header>
  <!-- End Header -->

  <!-- Content -->
  <section class=" h-75 mt-20">
 
    <div class="flex w-full max-auto flex-row justify-between items-center">
      <!-- Forms choice -->
    <app-forms-choice></app-forms-choice>
      <!-- End Forms choice -->

      <!-- Second section -->
      <div
        class="hidden w-full h-screen -mt-32 md:flex flex-col justify-center"
      >
        <div class="flex flex-col mx-auto">
          <div class="text-[#198dfa] text-[45px] font-normal font-['Inter']">
            Conseils
          </div>
          <div
            class="left-[801px] top-[326px] text-[#626161] text-[19px] font-normal font-['Inter']"
          >
            En cas d’urgence, veuillez contactez les services d’urgence<br />le
            178 pour le samu et le 110 pour les pompiers.<br /><br />Merci de
            bien vouloir répondre avec précision et complètement<br />au
            questionnaire medical suivant afin de faciliter et d’améliorer la<br />compréhension
            de votre problème.<br />Tout questionnaire incomplet retardera le
            traitement de votre<br />consultation.<br />Eviter repondre
            sommairement par ou non.
          </div>
        </div>
      </div>
      <!-- End second section -->
    </div>
    <!-- </div> -->
  </section>
  <!-- End Content -->

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- End Footer -->
</div>

<!-- <div
            class="left-[370px] top-[389px]  text-[#615f5f] text-2xl font-light font-['Inter']"
          >
            Pour un proche
          </div> -->
