<div
  [className]="[
    'flex w-full fixed justify-between items-center bg-white h-16 shadow-md'
  ]"
>
  <p [className]="['text-gray-500 font-semibold mx-2']">Tableau de bord</p>
  <div [className]="['items-center flex space-x-4 mr-2 md:mx-0']">
    <span [className]="['font-semibold text-gray-500 text-sm']"
      >Kouakou Aya</span
    >
    <img
      [className]="['md:w-12 md:h-12 w-10 h-10 rounded-full']"
      src="assets/img/usrbig1.jpg"
      alt="photo"
    />
  </div>
  <p [className]="['md:flex md:-mx-72 -mx-0 hidden']"></p>
  <!-- <div [className]="['absolute bg-red-500 top-0 end-72 mt-16 -mx-6']">
    xxxxxxuuu
  </div> -->
</div>
